<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PetStore"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>PetStore</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="../../../media/img-shop/icon.png" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" />
    <!--== 7 Stroke Icon CSS ==-->
    <link href="../../static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="../../static/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="../../static/css/fancybox.min.css" rel="stylesheet" />
    <!--== Range Slider Min CSS ==-->
    <link href="../../static/css/ion.rangeSlider.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="../../static/css/style.css" rel="stylesheet" />
</head>

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <div class="dog-head"></div>
      <div class="dog-body"></div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default" data-bg-img-shop="../../../media/img-shop/photos/header-bg.webp">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="/">
                  <img class="logo-main" src="../../../media/img-shop/logo.PNG" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li><a href="/"><span>Главная</span></a></li>
                  <li><a href="/about-us"><span>О нас</span></a></li>
                  <li><a href="/contact"><span>Контакты</span></a></li>
                </ul>
              </div>
            </div>
            <div class="header-align-end">
              <div class="header-action-area">
                <div class="shopping-search">
                  <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i class="pe-7s-search icon"></i></button>
                </div>
                <div class="shopping-account">
                  {% if user.is_authenticated %}
                  <a class="shopping-account-btn" href="/account">
                    <i class="pe-7s-users icon"></i>
                  </a>
                    {% else %}
                    <a class="shopping-account-btn" href="/account-login">
                    <i class="pe-7s-users icon"></i>
                  </a>
                    {% endif %}
                </div>
                <div class="shopping-cart">
                  <button class="shopping-cart-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasCart" aria-controls="AsideOffcanvasCart">
                    <i class="pe-7s-shopbag icon"></i>
                  </button>
                </div>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <h2 class="title">О нас</h2>
              <nav class="breadcrumb-area">
                <ul class="breadcrumb">
                  <li><a href="/">Главная</a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>О нас</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-inner-area bg-color-f6">
      <div class="container">
        <div class="about-item about-item-style2 position-relative">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="about-thumb text-center">
                <img src="../../../media/img-shop/shop/banner/in_pet_store.jpg" width="529" height="429" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content">
                <div class="section-title shape-left">
                  <h5 class="sub-title">PetStore</h5>
                  <h2 class="title">Мы</h2>
                </div>
                <p>Описание компании</p>
                <p class="text-color-theme">Магазин</p>
                <a class="btn-theme" href="/shop">За покупками</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Team Area Wrapper ==-->
    <section class="team-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title shape-center text-center">
              <h5 class="sub-title">Наша команда</h5>
              <h2 class="title">Участники</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <!--== Start Team Item ==-->
            <div class="team-item">
              <div class="thumb">
                <img src="../../../media/img-shop/team/Team1.jpg" width="270" height="300" alt="Image-HasTech">
                <div class="member-icons">
                  <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                  <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                  <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
              <div class="content">
                <h4 class="title">Даша</h4>
                <p>Участник</p>
              </div>
            </div>
            <!--== End Team Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3">
            <!--== Start Team Item ==-->
            <div class="team-item">
              <div class="thumb">
                <img src="../../../media/img-shop/team/Team2.jpg" width="270" height="300" alt="Image-HasTech">
                <div class="member-icons">
                  <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                  <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                  <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
              <div class="content">
                <h4 class="title">Саша</h4>
                <p>Участник</p>
              </div>
            </div>
            <!--== End Team Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3">
            <!--== Start Team Item ==-->
            <div class="team-item">
              <div class="thumb">
                <img src="../../../media/img-shop/team/Team3.jpg" width="270" height="300" alt="Image-HasTech">
                <div class="member-icons">
                  <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                  <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                  <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
              <div class="content">
                <h4 class="title">Паша</h4>
                <p>Участник</p>
              </div>
            </div>
            <!--== End Team Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3">
            <!--== Start Team Item ==-->
            <div class="team-item">
              <div class="thumb">
                <img src="../../../media/img-shop/team/Team4.jpg" width="270" height="300" alt="Image-HasTech">
                <div class="member-icons">
                  <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                  <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                  <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
              <div class="content">
                <h4 class="title">Маша</h4>
                <p>Участник</p>
              </div>
            </div>
            <!--== End Team Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Team Area Wrapper ==-->

    <!--== Start Testimonial Area Wrapper ==-->
    <section class="testimonial-area bg-color-f2 position-relative z-index-1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title shape-center text-center">
              <h5 class="sub-title">Отзывы</h5>
              <h2 class="title">Что говорят клиенты</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <!--== Start Testimonial Item ==-->
            <div class="testimonial-item">
              <div class="testi-inner-content">
                <div class="testi-author">
                  <div class="testi-thumb">
                    <img src="../../../media/img-shop/testimonial/profile.jpg" width="90" height="90" alt="Image-HasTech">
                  </div>
                  <div class="testi-info">
                    <h4 class="title">Даша</h4>
                    <p class="sub-title">Клиент</p>
                    <div class="rating-box">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="testi-content">
                  <p class="desc">Класс</p>
                  <div class="testi-quote"><img src="../../../media/img-shop/icons/quote1.webp" width="55" height="38" alt="Image-HasTech"></div>
                </div>
              </div>
            </div>
            <!--== End Testimonial Item ==-->
          </div>
          <div class="col-lg-4">
            <!--== Start Testimonial Item ==-->
            <div class="testimonial-item">
              <div class="testi-inner-content">
                <div class="testi-author">
                  <div class="testi-thumb">
                    <img src="../../../media/img-shop/testimonial/profile.jpg" width="90" height="90" alt="Image-HasTech">
                  </div>
                  <div class="testi-info">
                    <h4 class="title">Петя</h4>
                    <p class="sub-title">Клиент</p>
                    <div class="rating-box">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="testi-content">
                  <p class="desc">Хороший магазин</p>
                  <div class="testi-quote"><img src="../../../media/img-shop/icons/quote1.webp" width="55" height="38" alt="Image-HasTech"></div>
                </div>
              </div>
            </div>
            <!--== End Testimonial Item ==-->
          </div>
          <div class="col-lg-4">
            <!--== Start Testimonial Item ==-->
            <div class="testimonial-item">
              <div class="testi-inner-content">
                <div class="testi-author">
                  <div class="testi-thumb">
                    <img src="../../../media/img-shop/testimonial/profile.jpg" width="90" height="90" alt="Image-HasTech">
                  </div>
                  <div class="testi-info">
                    <h4 class="title">Андрей</h4>
                    <p class="sub-title">Клиент</p>
                    <div class="rating-box">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="testi-content">
                  <p class="desc">Не дорого</p>
                  <div class="testi-quote"><img src="../../../media/img-shop/icons/quote1.webp" width="55" height="38" alt="Image-HasTech"></div>
                </div>
              </div>
            </div>
            <!--== End Testimonial Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Testimonial Area Wrapper ==-->

    <!--== Start Product Banner Area Wrapper ==-->
    <section class="product-area product-banner-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="banner-product-single-item">
              <div class="thumb">
                <a href="/shop">
                  <img src="../../../media/img-shop/shop/banner/adult_dog_new.jpg" width="570" height="300" alt="Image-HasTech">
                </a>
              </div>
              <div class="content">
                <h5 class="sub-title">50% Скидка</h5>
                <h5 class="title">Корма</h5>
                <a class="btn-theme btn-theme-color btn-sm" href="/shop">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Banner Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img" src="../../../media/img-shop/icons/f1.webp" width="46" height="34" alt="Icon-HasTech">
              </div>
              <div class="content">
                <h5 class="title">Бесплатная доставка</h5>
                <p>От заказа на 1000 руб.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img" src="../../../media/img-shop/icons/f2.webp" width="43" height="34" alt="Icon-HasTech">
              </div>
              <div class="content">
                <h5 class="title">Оплата</h5>
                <p>Картой или наличными</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img" src="../../../media/img-shop/icons/f3.webp" width="39" height="39" alt="Icon-HasTech">
              </div>
              <div class="content">
                <h5 class="title">Возврат</h5>
                <p>Вернем если не понравится товар</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="feature-icon-box">
              <div class="icon-box">
                <img class="icon-img" src="../../../media/img-shop/icons/f4.webp" width="36" height="39" alt="Icon-HasTech">
              </div>
              <div class="content">
                <h5 class="title">24/7 Поддержка</h5>
                <p>Пишите в любое время</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Feature Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <h4 class="widget-title">О нас</h4>
              <p class="desc">Описание компании</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item1">
              <h4 class="widget-title">Информация</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Information</h4>
              <div id="widgetId-1" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/about-us">О нас</a></li>
                      <li><a href="/account-login">Условия доставки</a></li>
                      <li><a href="/account-login">Политика конфиденциальности</a></li>
                      <li><a href="/account-login">Правила и условия</a></li>
                      <li><a href="/contact">Контакты</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item nav-menu-item2">
              <h4 class="widget-title">Еще</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Our Policy</h4>
              <div id="widgetId-2" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="/shop">Бренды</a></li>
                      <li><a href="/shop">Специально</a></li>
                      <li><a href="/account">Аккаунт</a></li>
                      <li><a href="/about-us">О нас</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Контактная информация:</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Contact Info:</h4>
              <div id="widgetId-3" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-contact-info">
                    <p class="contact-info-desc">Если у вас есть вопросы <a href="mailto://demo@example.com">demo@example.com</a></p>
                    <div class="contact-item">
                      <div class="icon">
                        <i class="pe-7s-map-marker"></i>
                      </div>
                      <div class="info">
                        <p>Ваш адрес. <br>г.Москва</p>
                      </div>
                    </div>
                    <div class="contact-item phone-info">
                      <div class="icon">
                        <i class="pe-7s-phone"></i>
                      </div>
                      <div class="info">
                        <p><span>Телефон поддержки</span> <br><a href="tel://0123456789">+0 123 456 789</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">© 2024. Petpet<i class="fa fa-heart"></i></p>
              <div class="payment">
                <a href="/account"><img src="../../../media/img-shop/photos/payment.webp" width="192" height="21" alt="Payment Logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

  <!--== Start Product Quick Wishlist Modal ==-->
  <aside class="product-action-modal modal fade" id="action-WishlistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Добавлено в список желаемого!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="../../../media/img-shop/shop/modal1.webp" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="/single-product"></a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Wishlist Modal ==-->

  <!--== Start Product Quick Add Cart Modal ==-->
  <aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-action-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <i class="pe-7s-close"></i>
            </button>
            <div class="modal-action-messages">
              <i class="pe-7s-check"></i>  Успешно добавлено!
            </div>
            <div class="modal-action-product">
              <div class="thumb">
                <img src="../../../media/img-shop/shop/modal1.webp" alt="Organic Food Juice" width="466" height="320">
              </div>
              <h4 class="product-name"><a href="/single-product"></a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick Add Cart Modal ==-->

  <!--== Start Product Quick View Modal ==-->
  <aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-quick-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <span class="pe-7s-close"></span>
            </button>
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <img src="../../../media/img-shop/shop/quick-view1.webp" width="544" height="560" alt="Image-HasTech">
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-lg-6">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title"></h3>
                    <div class="prices">
                      <span class="price">₽</span>
                    </div>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="review-status">
                        <a href="javascript:void(0)">(5 Отзывов)</a>
                      </div>
                    </div>
                    <p>Описание</p>
                    <div class="product-single-meta">
                      <ul>
                        <li><span>Категории:</span>
                          <a href="/shop">Корм</a>
                        </li>
                        <li><span>Теги:</span>
                          <a href="/shop">Корм</a>,
                        </li>
                      </ul>
                    </div>
                    <div class="product-quick-action">
                      <div class="qty-wrap">
                        <div class="pro-qty">
                          <input type="text" title="Quantity" value="01">
                        </div>
                      </div>
                      <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                        Add To Cart
                      </button>
                        <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                          <i class="pe-7s-like"></i>
                        </button>
                      <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                        <i class="pe-7s-look"></i>
                      </button>
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick View Modal ==-->

   <!--== Start Aside Cart ==-->
  <aside class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasRightLabel">Корзина</h1>
      <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">Корзина<i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="offcanvas-body">
      <ul class="aside-cart-product-list">
        {% for cheque in cheque %}
        <li class="aside-product-list-item">
          <form action="/remove/{{cheque.id}}" method="post">
                        {% csrf_token %}
                          <input type="submit" value="X">
                        </form>
          <a href="/single-product/{{item.id}}">
            <img src="{{ cheque.image.url }}" width="90" height="110" alt="Image-HasTech">
            <span class="product-title">{{cheque.item_name_id}}</span>
          </a>
          <span class="product-price">{{cheque.quantity}} × {{ cheque.price }} ₽</span>
        </li>
        {% endfor %}
      </ul>
      <p class="cart-total"><span>Всего:</span><span class="amount">{{ total }} ₽</span></p>
      <a class="btn-total" href="/cart">Корзина</a>
      <a class="btn-total" href="/shop-checkout">Оплата</a>
      <a class="d-block text-end lh-1" href="/shop-checkout"><img src="../../../media/img-shop/photos/paypal.webp" width="133" height="26" alt="Has-image"></a>
    </div>
  </aside>
  <!--== End Aside Cart ==-->

  <!--== Start Aside Search Form ==-->
  <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 class="d-none" id="offcanvasTopLabel">Боковой Поиск</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close"></i></button>
    </div>
    <div class="offcanvas-body">
      <div class="container pt--0 pb--0">
        <div class="search-box-form-wrap">
          <div class="search-note">
            <p>Поиск</p>
          </div>
          <form action="#" method="post">
            <div class="search-form position-relative">
              <label for="search-input" class="visually-hidden">Поиск</label>
              <input id="search-input" type="search" class="form-control" placeholder="Search entire store…">
              <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Aside Search Form ==-->

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Боковое меню</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <nav id="offcanvasNav" class="offcanvas-menu-nav">
        <ul>
          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="/">Главная</a></li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="/about-us">О нас</a></li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Магазин</a>
            <ul>
                  <li><a href="/shop"><span>Магазин</span></a></li>
                  <li><a href="/cart"><span>Корзина</span></a></li>
                  <li><a href="/shop-checkout"><span>Оплата</span></a></li>
            </ul>
          </li>


          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Страницы</a>
            <ul>
              <li><a href="/account"><span>Аккаунт</span></a></li>
              <li><a href="/account-login"><span>Войти</span></a></li>
              <li><a href="/account-register"><span>Регистрация</span></a></li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="/contact">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="../../static/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="../../static/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="../../static/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="../../static/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="../../static/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="../../static/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="../../static/js/fancybox.min.js"></script>
<!--=== jQuery Countdown Min Js ===-->
<script src="../../static/js/countdown.js"></script>
<!--=== jQuery Isotope Min Js ===-->
<script src="../../static/js/isotope.pkgd.min.js"></script>
<!--=== jQuery Range Slider Min Js ===-->
<script src="../../static/js/ion.rangeSlider.min.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="../../static/js/custom.js"></script>

</body>

</html>